/*
    Aplicação: Calculadora de IMC
    Autor: Marcos Willian de Souza
    Data: 06/09/2020
*/ 

@font-face{
    font-family:  PTSans-Regular; 
    src: url('../font/PT_Sans/PTSans-Regular.ttf');
}
@font-face{
    font-family:  PTSans-Bold; 
    src: url('../font/PT_Sans/PTSans-Bold.ttf');
}
@font-face{
    font-family:  PTSans-BoldItalic; 
    src: url('../font/PT_Sans/PTSans-BoldItalic.ttf');
}
@font-face{
    font-family:  PTSans-Italic; 
    src: url('../font/PT_Sans/PTSans-Italic.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'PTSans-Italic', sans-serif;
    color: rgb(255, 62, 3);
    /* background-color: rgba(255, 62, 3, 0.3); */
    background-color:white;
}
h1{
    font-family: 'PTSans-BoldItalic', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}
fieldset{
    border: 1px solid rgb(255, 62, 3);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}
legend{
    margin-left: 10px;
}
button{
    font-family: 'PTSans-Bold', sans-serif;
    width: 148px;
    height: 40px;
    background-color: rgb(255, 62, 3);
    color: white;
}
input{
    height: 36px;
    color: rgb(255, 62, 3);
}
label,
input{
    margin-left: 20px;
    margin-right: 20px;
}
input{
    padding-left: 5px;
}
label,
input,
button{
    margin-top: 10px;
}
input, button{
    border: 1px solid rgb(255, 62, 3);
    border-radius: 5px;
}
#container{
    /* width: 800px; */
    border: 1px solid rgb(255, 62, 3);
    border-radius: 5px;
    position: absolute;
	left: 50%;
	top: 50%;
	margin-left:-420px;
	margin-top:-370px; 
	height: 616px;
	width: 840px; 
	background-color: lightgrey;
}
#campos{
    display: flex; 
    justify-items: right;
    flex-direction: column;
    /* align-items: right; */
    /* justify-content: center; */
}
#botoes{
    margin-left: 20px;
    height: 60px;
}
#nome, #peso, #altura{
   font-size: 18px;
   font-family: 'PTSans-Bold', sans-serif;
}
#tabela{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    height: 170px;
    overflow-y: scroll;
}
#fieldset-tab{
    height: 230px;
}
table{
    font-family: 'PTSans-Regular', sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 2px solid  rgb(255, 62, 3);;
    text-align: left;
    padding: 4px;
}
tr:nth-child(even){
    background-color: rgb(255, 62, 3);
    color: white;
}
